.details-container{
    background-color: #282c34;
    background-size: cover;
    height: 100vh;
}
.cover-img{
    height: 500px;
    width: 400px;
    border-radius: 15px;
}
.heading-book-details{
    font-family: Arial, Helvetica, sans-serif;
    color: greenyellow;
    font-weight: 600;
}
.author-name-details{
    color: white;
}
.genre{
    color: #999999;
}
.price1{
    color: greenyellow;
}
.add-to-cart-btn{
    height: 40px;
    width: 150px;
    background-color: transparent;
    border: 1px solid greenyellow;
    color: greenyellow;
    border-radius: 10px;
    margin-top: 20px;
}