.cart-container{
    background-color: #262626;
    background-size: cover;
    height: 100vh;
}
.cart-card{
    background-color: #000000;
    margin: 20px;
    border-radius: 10px;
}
.img-fluid1{
    height: 200px;
}
.remove-btn{
    background-color: transparent;
    width: 120px;
    height: 35px;
    border: 1px solid greenyellow;
    border-radius: 10px;
    color: greenyellow;
    margin-top: 60px;
}
.title{
    color: white;
}